/* Import Blueprint CSS */
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import '~@electricui/components-desktop-blueprint/lib/bundle.css';

/* Make it feel like a native app, disable highlighting of text */
a:not([draggable='true']),
img:not([draggable='true']) {
  -webkit-user-drag: none;
}
a[href^="http://"],
a[href^="https://"],
a[href^="ftp://"]
{
  -webkit-user-drag: auto;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
}

body {
  background: #f5f8fa;
  color: #182026;
}

/* Device Pages CSS */
.device-pages {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.device-header {
  padding-top: 1em;
  padding-bottom: 1em;
  width: 100%;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.15), 0 0 0 rgba(16, 22, 26, 0),
    0 0 0 rgba(16, 22, 26, 0);
  z-index: 1;
  background: #fff;
}

.device-content {
  flex: 1;
  padding: 1.15em;
  padding-top: 1.4em;
  overflow-y: auto;
}

.device-header .bp3-button.bp3-minimal.bp3-active {
  background: rgba(115, 134, 148, 0.1);
}

/* Dark mode */
.bp3-dark {
  background: #191b1d;
}

.bp3-dark .device-header {
  background: #232b31;
}
