registry=https://registry.npmjs.com/
@electricui:registry=http://registry.eui.io/
//registry.eui.io/:_authToken=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJib2x0IiwiY3JlYXRlZCI6MTU1NDgyMjYzNSwiZW1haWwiOiJzY290dEBlbGVjdHJpY3VpLmNvbSIsImV4cCI6MTU2NDE4OTI0NywiaWF0IjoxNTYxNTYxMjQ3LCJpc3MiOiJib2x0IiwibmFtZSI6IlNjb3R0IiwibmJmIjoxNTYxNTYwOTQ3LCJ1c2VyaWQiOiJaVWhmMFFybDk0SEF0eVUwUU54SEppTVI3Wmd4dzdWdERwblJDWEE9IiwidmVyaWZpZWQiOnRydWV9.tNkhaLZB6--auuaCcbUjKi2fk5gbf6mI2Q52zzFtIh8
