.device-pages {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.device-content {
  flex: 1;
  overflow-y: auto;
}

/* Dark mode */

.bp3-dark {
  background: #191b1d;
}

.bp3-dark .device-header {
  background: #232b31;
}
