.setting-tooltip {
  /* Stretch tooltips to their max size */
  width: max-content;
  /* But prevent them from going over 500px in width */
  max-width: 500px;
}

.planner-checkbox .bp3-control {
  /* Center the checkboxes within their field */
  margin-bottom: 0;

  /* Make the checkboxes the same height as numeric inputs */
  padding-bottom: 6.5px;
  padding-top: 6.5px;
}
