.connection-page {
  padding: 10px;
}

.bp3-card.bp3-interactive * {
  cursor: pointer;
}

.disabled-card {
  background: #fefefe;
  cursor: not-allowed;
  color: rgba(16, 22, 26, 0.4);
}

.disabled-card * {
  cursor: not-allowed;
}

.disabled-card h3 {
  color: rgba(16, 22, 26, 0.4);
}

/* Loading, disabled buttons should display a progress cursor instead of a disabled cursor */
.bp3-button.bp3-disabled.bp3-loading {
  cursor: progress;
}
